<app-header></app-header>
<!-- <h1>This is my first function</h1>
<button (click)="firstFunction()">click here</button>

<h1>These are events</h1>

<button (mouseover)="getEvent('hello')">function called</button>

<input type=" text" #box1 (keyup)="getEvent(box1.value)" placeholder=" See event effect here">
<p>The Box Value Is : {{displayVal}}</p> -->


<!-- 
counter

<button (click)="counter('minus')">--</button>
<p>Count : {{count}}</p>
<button (click)="counter('add')">++</button> -->

<!-- property Binding -->

<!-- <button (click)="bind()">turue-false</button> -->
<!-- <input type="text" name="user-name" [value]="name" [disabled]="disabel"> -->

<!-- *****Basic if else condition***** -->

<!-- <h1 *ngIf="show">
  hello adnan khan
</h1> -->


<!-- we have to create a ng-template if we have a else confition  -->

<!-- <h1 *ngIf="show else falseCondition"=>Hello adnan khan</h1>

<ng-template #falseCondition>
  <h1> this line is print because the condition is false</h1>
</ng-template> -->

<!-- ****Basic else if condition***** -->

<!-- <ng-template [ngIf]="color==='red'">
  <h1 style="color:red">This is Red</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h1 style="color:green">This is Green</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 style="color:blue">This is Blue</h1>
</ng-template> -->


<!-- ******switch condition****** -->

<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue;">blue Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">green Color</h1>
  <h1 *ngSwitchCase="'purple'" style="color: purple;">purple Color</h1>
  <h1 *ngSwitchCase="'orangered'" style="color: orangered;">orangered Color</h1>
  <h1 *ngSwitchDefault>Unknown Color</h1>
</div> -->

<!-- ********use of for loop******** -->


<!-- <h1 *ngFor="let item of userDetails" style="color: red;">{{item.name}} - {{item.email}} - {{item.phone}} -
  {{item.address}}</h1> -->


<!-- ********use of nested/multidimenssional for loop******** -->

<!-- <ul *ngFor="let user of userDetails">
  <li>Name : {{user.name}}</li>
  <li>Email : {{user.email}}</li>
  <li>Phone no: {{user.phone}}</li>
  <li>Social Accounts :- </li>
  <ul *ngFor="let account of user.socialAccounts">
    <li>{{account}}</li>
  </ul>
</ul> -->


<!-- ****style Binding**** -->

<!-- <h1 [style.color]="color"> we can also change this color dynamically from app.component.ts <br> and also change this
  on a click event by making a function </h1> -->

<!-- I have created a header component after these concepts  -->


<!-- ******header component done now back here to create a "Simple Form"***** -->

<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="enter name">
  <br /><br />
  <input type="text" ngModel name="email" placeholder="enter email">
  <br /><br />
  <input type="text" ngModel name="password" placeholder="enter password">
  <br /><br />
  <button>Register</button>
</form>

<h2 style="margin: 20px;">User Data</h2>
<ul>
  <li>{{userData.user}} - {{userData.email}} - {{userData.password}}</li>
</ul> -->


<!-- ***Creating a toggle button that hid and display html element*** -->

<!-- <button (click)="toggle()">hide</button>

<h2 *ngIf="display">This element will be hide if you click on hide button</h2> -->


<!-- ***Creating a TODO list and display in DOM*** -->

<!-- <h1>TODO List</h1>
<input type="text" placeholder="Enter New Task.." #task>
<br /> <br />
<button (click)="addTask(task.value)">add task</button>
<ul *ngFor="let item of list">
  <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>
</ul> -->
